@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Para navegadores modernos como Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

/* Para navegadores como Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* Oculta la barra en IE y Edge */
  scrollbar-width: none; /* Oculta la barra en Firefox */
}


/* ANIMACIONES */
@keyframes fadeInUp{
  0%{
    opacity:0;
    transform: translateY(20px);
  }
  100%{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown{
  0%{
    opacity:0;
    transform: translateY(-20px);
  }
  100%{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes gradientMove{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.animate-fade-in-up{
  animation: fadeInUp 0.8s ease-out;
}

.animate-fade-in-down{
  animation: fadeInDown 0.8s ease-out;
}

.animate-gradient-move{
  background-size: 200% 200%;
  animation: gradientMove 3s linear infinite;
} 

/* 
PARA QUE LAS CARTAS TENGAN UNA ANIMACIÓN DE POP */
@keyframes pop{
  0%{
    transform: scale(0.95);
    opacity: 0.7
  }
  50%{
    transform: scale(1.05);
    opacity:1;
  }
  100%{
    transform: scale(1);
  }
}

.selected-card{
  animation: pop 0.5s ease-out;
  animation-fill-mode: forwards;
}

.selected-card:nth-child(1){
  animation-delay: 0s;
}

.selected-card:nth-child(2){
  animation-delay: 0.5s;
}

.selected-card:nth-child(3){
  animation-delay: 1s;
}


/* TAILWIND */
.input-form{
  @apply bg-gray-100 px-4 py-2 rounded-md text-black mb-1;
}

.nav-button{
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-300 transition duration-300 ease-in-out;
}