@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Jaro:opsz@6..72&family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* SCROLLBAR */

/* Estilo general del scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
  height: 12px; /* Alto del scrollbar para desplazamiento horizontal */
}

/*(fondo del scrollbar) */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Fondo del track */
  border-radius: 6px; 
}

/* Thumb (la barra que se mueve) */
::-webkit-scrollbar-thumb {
  background: #85b9f3; /* Color de la barra */
  border-radius: 6px; 
  border: 3px solid #f0f0f0; /* Agregar espacio alrededor del thumb */
}

/* Thumb en hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color más oscuro al pasar el mouse */
}


/* ANIMACIONES */
@keyframes fadeInUp{
  0%{
    opacity:0;
    transform: translateY(20px);
  }
  100%{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown{
  0%{
    opacity:0;
    transform: translateY(-20px);
  }
  100%{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes gradientMove{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.animate-fade-in-up{
  opacity:0;
  transform: translate(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-fade-in-down{
  animation: fadeInDown 0.8s ease-out;
}

.animate-gradient-move{
  background-size: 200% 200%;
  animation: gradientMove 3s linear infinite;
} 


.hover-grow{
  transition: transform 0.3s ease-in-out;
}

.hover-grow:hover{
  transform: scale(1.05);
}

/* 
PARA QUE LAS CARTAS TENGAN UNA ANIMACIÓN DE POP */
@keyframes pop{
  0%{
    transform: scale(0.95);
    opacity: 0.7
  }
  50%{
    transform: scale(1.05);
    opacity:1;
  }
  100%{
    transform: scale(1);
  }
}

.selected-card{
  animation: pop 0.5s ease-out;
  animation-fill-mode: forwards;
}

.selected-card:nth-child(1){
  animation-delay: 0s;
}

.selected-card:nth-child(2){
  animation-delay: 0.5s;
}

.selected-card:nth-child(3){
  animation-delay: 1s;
}


/* TAILWIND */
.input-form{
  @apply bg-gray-100 px-4 py-2 rounded-md text-black mb-1;
}

.blue-button{
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-300 transition duration-300 ease-in-out;
}

.red-button{
  @apply bg-red-500 text-white px-4 py-2 rounded hover:bg-red-300 transition duration-300 ease-in-out;
}

.big-title{
  @apply text-black text-center text-[100px] font-bold animate-fade-in-up;
}

/* FILE INPUT */

.file-input {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  appearance: none; /*elimina estilos predeterminados de navegador */
}

.file-input:hover {
  background-color: #0056b3;
}

.file-input::file-selector-button {
  color: white;
  background-color: #007bff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-input::file-selector-button:hover {
  background-color: #0056b3; 
}
